@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.App {
  text-align: center;
  background-color: #6E6E6E;
  height: 100vh;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-name: loading;
  font-weight: "Open Sans", sans-serif;
}

@keyframes loading {
  0%{
    transform: translateY(0);
    opacity: 1;
  }
  50%{
    transform: translateY(0);
    opacity: 1;
  }
  100%{
    transform: translateY(-100%);
    opacity: 0;
  }
}

body{
  background-color: #6E6E6E;
}

main{
  margin-top: 1%;
}

main section{
  padding-left: 5%;
  padding-right: 5%;
}

h1{
  font-size: 4.444vw;
  color:#BAFF39
}
h2{
  font-size: 3vw;
  color:#BAFF39
}
h3{
  font-size: 1.5vw;
  color:#BAFF39
}
p{
  font-size: 1.2vw;
  color:white;
}

/*----------------Desktop footer------------------*/

.desktop_footer{
  position: fixed;
  z-index: 99;
  display: flex;
  flex-direction: column;
  top:50%;
  left:1%;
}
.desktop_footer img{
  width:2vw;
  margin-top:40%;
  margin-bottom:40%;
}
.desktop_footer hr{
  border-left: 1px solid #BAFF39;
  height: 20vw;
}

/*----------------Header------------------*/

header{
  position: sticky;
  top:10px;
  background-color: transparent;
  z-index: 99;
  margin:0% 3% 0% 3%;
}

header div{
  display: flex;
  justify-content: space-between;
}
header img{
  width:6vw;
}

/*--------------------Welcome section----------------*/

.welcome_section{
  display: flex;
  justify-content: space-around;
  margin-left: 3%;
  margin-right: 3%;
}

.portrait{
  width:45vw;
  margin:auto;
}
.portrait_wrapper{
  align-items: center;
}
.greeting_wrapper{
  padding-left:10%;
  padding-top:5%;
}
.greeting{
  font-size:2vw;
}
.name{
  font-size:5vw;
  margin:0;
}
.degree{
  color:white;
}
.ball, .car{
  position: relative;
  width:4vw;
}
.ball{
  top:-75%;
  left:12%;
}
.car{
  top:-55%;
  left:82%;
}

/*--------------------Scroll section----------------*/


.scroll_wrapper{
  margin-top: -15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.scroll_wrapper h3{
  margin-bottom: 0;
}

.scroll_wrapper hr{
  height:50vh;
  border-left: 1px solid #BAFF39;
}

/*--------------------About me section----------------*/

.aboutme_section{
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: #383838;
  padding-bottom: 9%;
}
.about_me{
  width:70%;
}
.about_me img{
  width:2vw;
}

.greeting_portrait{
  position: absolute;
  width:20vw;
  top:44%;
  left:79.8%;
}

/*--------------------Skills section----------------*/

.skills_section{
  text-align: center;
  padding-bottom: 3%;
}

.skills{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  gap:15%;
  padding-left:20%;
  padding-right:20%;
  margin-top: 5%;
}
.skill{
  width:7vw;
}

/*--------------------Certificates section----------------*/


.certificates_section{
  text-align: center;
  background-color: #383838;
}
.certificates_section h1{
  padding-top: 3%;
}

.certificates{
  display: grid;
  grid-template-columns: auto auto auto ;
  grid-template-rows: auto auto auto;
  row-gap: 10%;
  padding-top: 1%;
  padding-bottom: 10%;
  padding-left: 5%;
  padding-right: 5%;
}

.certificate_image{
  width:25vw;
  opacity: 0.5;
  transition: 0.3s;
  border: transparent solid 4px;
}
.certificate{
  position: relative;
}

.certificate_name, .certificate_uni{
  position: absolute;
  margin:0;
  transition: 0.3s;
}

.certificate_name{
  top:50%;
  left:5%;
}
.certificate_uni{
  top:70%;
  left:5%;
}

.certificate:hover .certificate_image{
  opacity: 1;
  border-color:#BAFF39;
}
.certificate:hover .certificate_name,.certificate:hover .certificate_uni{
  opacity: 0;
}