@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

::-moz-selection { /* Code for Firefox */
    background: #BAFF39;
  }
  ::selection {
    color:#6E6E6E;
    background: #BAFF39;
  }
.App {
  text-align: center;
  height: 100vh;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: "Open Sans", sans-serif;

}

.loaded_app{
  animation-duration: 3.5s;
  animation-timing-function: ease-in-out;
  animation-name: opaciter;
}

.loaded_logo{
  font-size: 15vw;
  margin: 0;
  font-family: 'Reenie Beanie', cursive;
  animation-duration: 3.5s;
  animation-timing-function: ease-in-out;
  animation-name: loading;
}

@media (orientation:portrait) {
  .loaded_logo{
    font-size: 30vw;
    margin: 5%;
  }
}


@keyframes loading {
  0%{
    transform: translateY(0);
    opacity: 1;
  }
  50%{
    transform: translateY(0);
    opacity: 1;
  }
  100%{
    transform: translateY(-300%);
    opacity: 0;
  }
}

@keyframes opaciter {
  0%{
    opacity: 1;
  }
  70%{
    opacity:1;
  }
  100%{
    opacity: 0;
  }
}

body{
  background-color:black;
}
main section{
  padding-left: 15%;
  padding-right: 15%;
}

h1{
  font-size: 4.444vw;
  color:#BAFF39
}
h2{
  font-size: 3vw;
  color:#BAFF39
}
h3{
  font-size: 1.5vw;
  color:#BAFF39
}

p{
  font-size: 1.5vw;
  color:white;
}

@media (orientation:portrait) {
  h1{
    font-size: 9vw;
  }
  h2{
    font-size: 7vw;
  }
  h3{
    font-size: 4vw;
  }
  p{
    font-size: 4vw;
    color:white;
  }
}


















/*------Animations of loading------------*/

@keyframes top-animation{
  0%{
    opacity:0;
    transform: translateY(-100%);
  }
  100%{
    opacity:1;
    transform:translateY(0%)
  }
}

.top_animation{
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-name: top-animation;
}

@keyframes top-animation-delay-1{
  0%{
    opacity:0;
    transform: translateY(-100%);
  }
  20%{
    opacity:0;
    transform: translateY(-100%);
  }
  100%{
    opacity:1;
    transform:translateY(0%)
  }
}
@keyframes top-animation-delay-2{
  0%{
    opacity:0;
    transform: translateY(-100%);
  }
  30%{
    opacity:0;
    transform: translateY(-100%);
  }
  100%{
    opacity:1;
    transform:translateY(0%)
  }
}
@keyframes top-animation-delay-3{
  0%{
    opacity:0;
    transform: translateY(-100%);
  }
  40%{
    opacity:0;
    transform: translateY(-100%);
  }
  100%{
    opacity:1;
    transform:translateY(0%)
  }
}
@keyframes top-animation-delay-4{
  0%{
    opacity:0;
    transform: translateY(-100%);
  }
  60%{
    opacity:0;
    transform: translateY(-100%);
  }
  100%{
    opacity:1;
    transform:translateY(0%)
  }
}
.delay-1{
  animation-name: top-animation-delay-1;
  animation-duration: 1s;
}
.delay-2{
  animation-name: top-animation-delay-2;
  animation-duration: 1.2s;
}
.delay-3{
  animation-name: top-animation-delay-3;
  animation-duration: 1.4s;
}
.delay-4{
  animation-name: top-animation-delay-4;
  animation-duration: 1.6s;
}



@keyframes bottom-animation {
  0%{
    transform: translateY(10%);
    opacity: 0;
  }
  100%{
    transform: translateY(0%);
    opacity: 1;
  }
}

.bottom_animation{
  transform: translateY(10%);
  opacity: 0;
}

.bottom_animation.visible{
  transform: translateY(0%);
  opacity: 1;
  animation-duration: .7s;
  animation-name: bottom-animation;
  animation-timing-function: ease-in-out;
}


@keyframes left-animation {
  0%{
    transform: translateX(5%);
    opacity: 0;
  }
  100%{
    transform: translateX(0%);
    opacity: 1;
  }
}

.left_animation{
  transform: translateY(10%);
  opacity: 0;
  position: relative;
  z-index: 3;
}

.left_animation.visible{
  transform: translateY(0%);
  opacity: 1;
  animation-duration: .7s;
  animation-name: bottom-animation;
  animation-timing-function: ease-in-out;
}

@media (orientation:portrait){
  .left_animation{
    transform: translateX(5%);
    opacity: 0;
  }
  .left_animation.visible{
    transform: translateX(0%);
    opacity: 1;
    animation-duration: .7s;
    animation-name: left-animation;
    animation-timing-function: ease-in-out;
  }
}


@keyframes scroll_animation {
  0%{
    transform: translateY(10%);
    opacity: 0;
  }
  50%{
    transform: translateY(10%);
    opacity: 0;
  }
  100%{
    transform: translateY(0%);
    opacity: 1;
  }
}

.scroll_animation{
  animation: scroll_animation 3s ease-in-out;
}



































