/*--------------------About me section----------------*/

.aboutme_section{
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: #383838;
    padding: 2% 0;
  }

  .aboutme_section h1{
    margin:0;
  }
  .about_me{
    width:70%;
    padding-left: 8%;
  }
  .about_me img{
    width:2vw;
  }
  
  .greeting_portrait{
    position: absolute;
    width:22vw;
    right:0;
    bottom: 0;
  }
  
  @media (orientation:portrait){
    .about_me img{
      width:5vw;
    }
    .about_me{
      padding-right: 12%;
    }
    .greeting_portrait{
      width:40vw;
    }
  }