/*----------------Header------------------*/

header{
    position: sticky;
    top:10px;
    background-color: transparent;
    z-index: 99;
    padding:0% 3% 0% 3%;
  }
  
  header div{
    display: flex;
    justify-content: space-between;
  }
  header img{
    width:6vw;
    transition: 0.2s;
  }
  header img:hover{
    transform: scale(1.2);
  }


  .header_logo{
    font-family: 'Reenie Beanie', cursive;
    margin:0;
    font-weight: lighter;
    font-size: 6vw;
    font-weight: bold;
    transition: all ease-in-out 0.2s;
  }

  .header_logo:hover{
    transform: scale(1.2);
  }

  header a{
    text-decoration: none;
  }

  @media (orientation:portrait) {
    .header_logo{
      font-size: 12vw;
    }
    .contact_me{
      width:14vw;
    }
  }