.projects_section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding-bottom: 5%;
}

  .projects_wrapper{
    display: grid;
    grid-template-columns: 3% 25% 40% 25% 3%;
    height:25vw;
    grid-template-rows: auto;
    align-items: center;
    text-align: center;
    width:100%;
  }

  .project_image{
    position: relative;
    width:30vw;
    height:17vw;
    object-fit: cover;
    border: 1px solid #BAFF39;
  }

.clicker{
  width:4vw;
  height:auto;
}

.project.left{
    transform: translate(30%,50%);
    grid-area:1/2;
    opacity: 0.5;
    z-index: 1;
}
.project.right{
    transform: translate(-30%,50%);
    grid-area:1/4;
    opacity: 0.5;
    z-index: 1;
}

  .project_image.helper, .project_image.invisible{
    border:none;
    width:20vw;
    height:10vw;
  }

  .project{
    grid-area: 1/3;
    z-index: 99;
  }

  .clicker_left{
    grid-area: 1/1;
  }
  .clicker_right{
    grid-area: 1/-1;
  }


  .invisible{
    opacity: 0;
  }


  .lvr, .lvr *{
    animation-name: lvr;
    animation-duration: 1500ms;
    animation-timing-function: ease-in-out;
  }

  .mr{
    animation-name: mr;
    animation-duration: 1500ms;
    animation-timing-function: ease-in-out;
  }

  .mr .project_image{
    transition: 1500ms;
    width:20vw;
    height:10vw;
  }

  .lhr{
    animation-name: lhr;
    animation-duration: 1500ms;
    animation-timing-function: ease-in-out;
  }
  .lhr .project_image.helper{
    transition: 1500ms;
    width:30vw;
    height:17vw;

  }

  .rhr{
    animation-name: rhr;
    animation-duration: 1500ms;
    animation-timing-function: ease-in-out;
  }
  .rhr .project_image.helper{
    transition: 1500ms;
    width:20vw;
    height:10vw;
  }

  @keyframes lvr {
    0%{
        transform: translate(0%,80%);
        opacity: 0;
    }
    100%{
        transform: translate(14%,25.2%);
        opacity: 0.7;
    }
  }

  @keyframes lhr {
    0%{
        transform: translate(30%,50%);
    }
    100%{
      transform: translate(100%,0%);
      z-index: 99;
      opacity: 1;
    }
  }

  @keyframes mr {
    0%{
      transform: translate(0%,0%);
    }
    100%{
      transform: translate(67.5%,50%);
      z-index: 1;
      opacity: 0.5;
    }
  }



  @keyframes rhr {
    0%{
        transform: translate(-30%,50%);
    }
    100%{
      transform: translate(10%,100%);
      opacity: 0;
    }
  }

  .rvl, .rvl *{
    animation-name: rvl;
    animation-duration: 1500ms;
    animation-timing-function: ease-in-out;
    z-index: 99;
  }

  @keyframes rvl {
    0%{
      transform: translate(0%,60%);
    }
    100%{
      transform: translate(-14%,25.2%);
      opacity: 0.7;
    }
  }

  .rhl{
    animation-name: rhl;
    animation-duration: 1500ms;
    animation-timing-function: ease-in-out;
    z-index: 99;
  }
  .rhl .project_image.helper{
    transition: 1500ms;
    width:30vw;
    height:17vw;
  }

  @keyframes rhl {
    0%{
      transform: translate(-30%,50%);
    }
    100%{
      transform: translate(-160%,0%);
      z-index: 99;
      opacity: 1;
    }
  }

  .ml{
    animation-name: ml;
    animation-duration: 1500ms;
    animation-timing-function: ease-in-out;
    z-index: 1;
  }

  .ml .project_image{
    transition: 1500ms;
    width:20vw;
    height:10vw;
  }

  @keyframes ml {
    0%{
      transform: translate(0%,0%);
    }
    100%{
      transform: translate(-57.8%,50%);
      z-index: 1;
      opacity: 0.5;
    }
  }

  .lhl{
    animation-name: lhl;
    animation-duration: 1500ms;
    animation-timing-function: ease-in-out;
    z-index: 99;
  }
  .lhl .project_image.helper{
    transition: 1500ms;
  }

  @keyframes lhl {
    0%{
        transform: translate(30%,50%);
    }
    100%{
      transform: translate(-10%,80%);
      opacity: 0;
      z-index: 1;
    }
  }


  .project_info{
    display: flex;
    flex-direction: row;
    padding: 0% 0%;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width:100%;
  }
  
  .project_skills{
    margin-left: 3%;
  }
  .project_skill{
    width:3vw;
    height: auto;
  }
  
  .project_title{
    font-size: 3vw;
    max-width:70vw
  }
  
  .project_description{
    font-size: 1.5vw;
    width:40vw;
    margin:auto
  }
  .projects_section_title{
    margin-bottom: 5%;
  }

  .explore{
    margin: 5% 0%;
  }

.main_project{
  width:50vw;
  height: auto;
  margin-top: 5%;
}

.main_project_wrapper{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_project_description{
  width:50vw
}


@media (orientation:portrait) {
  .projects_git{
    font-size: 8vw;
  }
  .projects_section_title{
    margin-bottom: 20%;
  }
}