.projects_wrapper_mobile{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10% 0%;
    padding-top: 5%;
    height:160vh;
    align-items: center;
}

.project_mobile{
    position: relative;
}
.project_container_mobile{
    width:100%;
    height:25vh;
    border: 1px solid #BAFF39;
}

.project_image_mobile{
    width:100%;
    height: 25vh;
    object-fit: cover;
    opacity: 0.5;
}
.project_title_mobile{
    margin:0;
    position:absolute;
    top:20%;
    left:3%;
    z-index: 99;
    font-size: 7vw;
    text-align: left;
}
.project_description_mobile{
    width:80%;
    margin:0;
    position:absolute;
    top:55%;
    left:5%;
    z-index: 99;
    font-size: 3.5vw;
    text-align: left;
}