/*--------------------Skills section----------------*/

.skills_section{
    text-align: center;
    padding-bottom: 3%;
    height:100%;
  }
  
  .skills{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    row-gap:10%;
    margin-top: 5%;
    padding:0 10%;
  }
  .skill{
    transition: .2s;
    width:9vw;
    height:auto;
  }
  
  .skill:hover{
    transform: scale(1.3);
  }
  
  @media (orientation:portrait) {
    .skills{
      grid-template-columns: auto auto;
      grid-template-rows: auto auto auto auto;
      height:40vh;
      gap:5%;
    }
    .skill{
      width:15vw;
      height: auto;
      margin:auto
    }
    .skills_section{
      height:400%;
      padding-bottom:0%
    }
  }
  